@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-input-placeholder,
::placeholder {
  color: black;
  font-style: italic;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background: url(/src/images/board.png);
}

.site-wrapper {
  padding: 0.5rem;
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div.badge {
  background: url(/src/images/badge.png);
  width: 2rem;
  height: 2rem;
  background-size: cover;
}

#leaderboard-header {
  text-transform: uppercase;
}

.display {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.add-score-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  border-bottom: solid 2px white;
}

.add-score-h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  margin: 0 auto;
}

.form > * {
  padding: 0.5rem;
  border-radius: 8px;
}

.form input {
  background-color: rgba(225, 225, 225, 0.3);
  outline: white;
  border: solid 1px white;
}

.submit {
  width: 50%;
  align-self: flex-end;
  background-color: rgba(225, 225, 225, 0.3);
  font-weight: bold;
  font-size: 1.2rem;
}

.recent-score-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: 3rem auto 0;
}

.recent-score-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(225, 225, 225, 0.3);
  font-weight: bold;
  font-size: 1.2rem;
}

.recent-score-ul {
  border: solid 2px black;
  list-style: none;
}

.score-li {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.score-li:nth-of-type(odd) {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.score-li:nth-of-type(even) {
  background-color: #ddd;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
  }

  .display {
    flex-direction: row;
    width: 70%;
    margin: 2rem auto 0;
    gap: 6rem;
  }

  .add-score-box {
    order: 2;
    width: 50%;
    border: solid 2px white;
    padding: 1rem;
    border-radius: 16px;
  }

  .recent-score-box {
    margin-top: 0;
    order: 1;
  }

  .refresh:hover,
  .submit:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  }

  .add-score-h2 {
    text-align: left;
  }

  .form {
    width: 100%;
  }
}
